<!DOCTYPE html>
<html>
<head>
    <title>Eventos</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Editar Evento</h1>
    <form action="/events/edit/<%= evento.id %>" method="post">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" value="<%= evento.titulo %>"><br>
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion"><%= evento.descripcion %></textarea><br>
        <label for="fecha">Fecha:</label><br>
        <input type="date" id="fecha" name="fecha" value="<%= evento.fecha %>"><br>
        <input type="submit" value="Actualizar Evento">
    </form>
</body>
</html>